body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.container > div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.container > div:first-child > h2 {
	font-weight: 400;
}

.container > div:first-child > input {
	height: 30px;
	width: 250px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding-left: 10px;
}

.container > div:first-child > button {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	top: 24px;
	right: 12px;
	cursor: pointer;
}

table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	margin: 20px auto;
}

tr:nth-of-type(odd) {
	background: #eee;
}

tr > td:first-child {
	border-width: 0.5px;
	border-left-width: 1px;
}

tr:last-child > td:first-child {
	border-bottom-width: 1px;
}

th {
	background: #3498db;
	color: white;
	font-weight: bold;
}

td,
th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 15px;
}

th:nth-child(1) {
	width: 120px;
}

th:nth-child(3) {
	position: relative;
}
th:nth-child(3) > button {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}

.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 0;
	border-radius: 4px;
}

.pagination > div {
	display: flex;
	align-items: center;
}

.pagination > div:first-child > button:first-child {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination > div > button {
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.5;
	color: #337ab7;
	background-color: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
}
.pagination > div > button:disabled {
	background-color: #eee;
	cursor: no-drop;
}

.pagination > div > h5 {
	font-weight: 400;
}

.pagination > div > input {
	height: 30px;
	width: 75px;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: 10px;
	border-radius: 4px;
	padding-left: 5px;
}

.pagination > div > select {
	height: 35px;
	width: 100px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding-left: 5px;
}

.pagination > div:last-child > button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

[data-column='actions'] {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	max-height: stretch;
}

[data-column='actions'] button {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

[data-column='actions'] > div:first-child {
	display: flex;
	width: 75px;
}

[data-column='actions'] > input {
	margin: 0;
}

.json__content {
	display: inline-block;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
	font-size: 12px;
	padding-inline: 25px;
	border-radius: 5px;
	background: #edf2f7;
	color: #1a202c;
	width: 1050px;
	position: relative;
}
.json__content > button {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}
.json__content > pre {
	max-height: 200px;
	overflow: scroll;
	text-align: left;
	white-space: pre;
}

@media only screen and (max-width: 1250px) {
	.container {
		width: 95%;
	}
}
